# Sentencias, Librerias básicas para operaciones, estructuras de datos y condicionales

# Numeros Aleatorios

In [ ]:
import random
print('imprime un numero aleatorio entero=',random.randrange(3,10))
print('selecciona aleatoriamente=',random.choice(["uno", "dos", "tres"]))
print('imprime un numero aleatorio decimal entre 0 y 1=',random.random())
print('imprime una letra aleatoria=',random.choice("AEIOU"))

imprime un numero aleatorio entero= 6
selecciona aleatoriamente= uno
imprime un numero aleatorio decimal entre 0 y 1= 0.5535666555996817
imprime una letra aleatoria= I

In [ ]:
print('imprime un numero aleatorio decimal entre 0 y 4=',int(4*random.random()))

imprime un numero aleatorio decimal entre 0 y 4= 2

# Libreria Math

In [ ]:
import math
print("Factorial=",math.factorial(3))
print("PI=",math.pi)
print("E=",math.e)
print("seno=",math.sin(math.pi/6))
print("aseno=",math.degrees(math.asin(0.5)))
print("Logaritmo Natural=",math.log(math.exp(2)))
print("Logaritmo en base 10=",math.log10(100))
print("Logaritmo en base 2=",math.log2(8))
print("Potencia=",math.pow(3,2))
print("Raiz cuadrada=",math.sqrt(4))

Factorial= 6
PI= 3.141592653589793
E= 2.718281828459045
seno= 0.49999999999999994
aseno= 30.000000000000004
Logaritmo Natural= 2.0
Logaritmo en base 10= 2.0
Logaritmo en base 2= 3.0
Potencia= 9.0
Raiz cuadrada= 2.0

In [ ]:
import numpy as np
np.float(5/0)

<ipython-input-43-136236f1537d>:2: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  np.float(5/0)

ZeroDivisionError: ignored

In [ ]:
5/0

ZeroDivisionError: ignored

# Operaciones con cadena de texto

In [ ]:
#Suma o concatenación
x="Un divertido"+"programa"+"de"+"radio"
print(x)
#Multiplicación de una cadena con un número
y=3*"programas"
print(y)
#Obtener longitud de una cadena
print('longitud de la cadena:',len(y))

Un divertidoprogramaderadio
programasprogramasprogramas
longitud de la cadena: 27

In [ ]:
#Acceder  a una posición de la cadena
cadena = "programA"
print('acceder a una posicion determinada:',cadena[0])
print('acceder a la última posición:',cadena[-1])

# Comillas simples
cadenaa = 'Texto entre comillas simples'
print (cadenaa)
print (type(cadenaa))

# Comillas dobles
cadenab = "Texto entre comillas dobles"
print (cadenab)
print (type(cadenab))

acceder a una posicion determinada: p
acceder a la última posición: A
Texto entre comillas simples
<class 'str'>
Texto entre comillas dobles
<class 'str'>

In [ ]:
cad='reinel'

In [ ]:
cad[2:5]

'ine'

In [ ]:
cadenaesc = 'Texto entre \n\n\n \t\t\tcomillas simples'
print (cadenaesc)
print (type(cadenaesc))

Texto entre


 			comillas simples
<class 'str'>

# Tuplas (Datos inmutables)

Las tuplas son más rápidas que las listas. Si define un conjunto **constante** de valores y todo lo que va a hacer es iterar sobre ellos, use una tupla en lugar de una lista.

Una tupla es una secuencia de items ordenada e inmutable.

Los items de una tupla pueden ser objetos de cualquier tipo.

Para especificar una tupla, lo hacemos con los elementos separados por comas dentro de **paréntesis**.

Una tupla con únicamente dos elementos es denominada par.

Para crear una tupla con un único elemento (singleton), se añade una coma al final de la expresión.

Para definir una tupla vacía, se emplean unos paréntesis vacíos.

In [ ]:
tupla = ('cadena de texto', 15, 2.8, 'otro dato', 25,25)
print(tupla)
print(type(tupla))
print(tupla[1:4])
print('cuantas veces hay un elemento=',tupla.count(25))
print('dice en que posicion esta el elemento=',tupla.index(15))
#tupla[0]=2# dado que es una TUPLA no se puede agregar ni borrar información.

('cadena de texto', 15, 2.8, 'otro dato', 25, 25)
<class 'tuple'>
(15, 2.8, 'otro dato')
cuantas veces hay un elemento= 2
dice en que posicion esta el elemento= 1

In [ ]:
tupla, type(tupla), tupla[1:-1],tupla.count(25),tupla.index(15)

(('cadena de texto', 15, 2.8, 'otro dato', 25, 25),
 tuple,
 (15, 2.8, 'otro dato', 25),
 2,
 1)

In [ ]:
# Usando el tag: raises-exception, se evita que se detenga en compilación
#tupla[0]=2

# Listas (Datos no inmutables)

Una lista es una secuencia ordenada de elementos **mutable**.

Los items de una lista pueden ser objetos de distintos tipos.

Para especificar una lista se indican los elementos separados por comas en el interior de **CORCHETES**.

Para denotar una lista vacía se emplean dos corchetes vacíos.

In [ ]:
a = [1,2,3,"hola", [10, "nunca", 90], -32]
print ("Toda la lista= ",a)
print(type(a))
print ("Longitud de la lista= ", len(a))
print("Acceder a un rango de posiciones=",a[0:4])
print("Acceder a una posición específica= ",a[4])
print("Acceder a la última posición= ",a[-1])

Toda la lista=  [1, 2, 3, 'hola', [10, 'nunca', 90], -32]
<class 'list'>
Longitud de la lista=  6
Acceder a un rango de posiciones= [1, 2, 3, 'hola']
Acceder a una posición específica=  [10, 'nunca', 90]
Acceder a la última posición=  -32

In [ ]:
print("Lista= ",a)
a.append("Nuevo último")
print("Lista con nuevo último= ",a)
a[1]='nuevo1'
print("Lista con nuevo elemento en las posición 1= ",a)
a.insert(2,'nuevo2')
print("Lista con nuevo elemento en las posición 2= ",a)

Lista=  [1, 2, 3, 'hola', [10, 'nunca', 90], -32]
Lista con nuevo último=  [1, 2, 3, 'hola', [10, 'nunca', 90], -32, 'Nuevo último']
Lista con nuevo elemento en las posición 1=  [1, 'nuevo1', 3, 'hola', [10, 'nunca', 90], -32, 'Nuevo último']
Lista con nuevo elemento en las posición 2=  [1, 'nuevo1', 'nuevo2', 3, 'hola', [10, 'nunca', 90], -32, 'Nuevo último']

In [ ]:
a,type(a),len(a)

([1, 'nuevo1', 'nuevo2', 3, 'hola', [10, 'nunca', 90], -32, 'Nuevo último'],
 list,
 8)

In [ ]:
for i in range(len(a)):
    print (i, "-->", a[i])

0 --> 1
1 --> nuevo1
2 --> nuevo2
3 --> 3
4 --> hola
5 --> [10, 'nunca', 90]
6 --> -32
7 --> Nuevo último

In [ ]:
for i in a:
    print (i)

1
nuevo1
nuevo2
3
hola
[10, 'nunca', 90]
-32
Nuevo último

In [ ]:
print(a)
print (a[2:])
print (a[-3:])
print (a[4])

[1, 'nuevo1', 'nuevo2', 3, 'hola', [10, 'nunca', 90], -32, 'Nuevo último']
['nuevo2', 3, 'hola', [10, 'nunca', 90], -32, 'Nuevo último']
[[10, 'nunca', 90], -32, 'Nuevo último']
hola

In [ ]:
a = [1,2,3,"hola", [10, "nunca", 90], -32]
print (a[4])
print (a[4][0])
print (a[4][1])
print (a[4][1][2:])

[10, 'nunca', 90]
10
nunca
nca

# Diccionarios

Los diccionarios de Python son una lista de consulta de términos de los cuales se proporcionan valores asociados.
En Python, un diccionario es una colección **no-ordenada** de valores que son accedidos a traves de una clave. Es decir, en lugar de acceder a la información mediante el índice numérico, como es el caso de las listas y tuplas, es posible acceder a los valores a través de sus claves, que pueden ser de diversos tipo.
Las claves son únicas dentro de un diccionario, es decir que no puede haber un diccionario que tenga dos veces la misma clave, si se asigna un valor a una clave ya existente, se reemplaza el valor anterior.
No hay una forma directa de acceder a una clave a través de su valor, y nada impide que un mismo valor se encuentre asignado a distintas claves.
La informacion almacenada en los diccionarios, no tiene un orden particular. Ni por clave ni por valor, ni tampoco por el orden en que han sido agregados al diccionario.
Cualquier variable de tipo inmutable, puede ser clave de un diccionario: cadenas, enteros, tuplas (con valores inmutables en sus miembros), etc. No hay restricciones para los valores que el diccionario puede contener, cualquier tipo puede ser el valor: listas, cadenas, tuplas, otros diccionarios, objetos, etc.

In [ ]:
# Definir una variable diccionario
futbolistas = dict()

futbolistas = {
    1: "Casillas", 6: "Iniesta",3: "Piqué",
    5: "Puyol",
    7: "Villa", 8: "Xavi Hernández",
    9: "Torres", 11: "Capdevila",
    14: "Xavi Alonso", 15: "Ramos",
    16: "Busquets"
}

# Recorrer el diccionario, imprimiendo clave - valor
print ("Vemos que los elementos no van \"ordenados\":")
for k, v in futbolistas.items():
    print ("{} --> {}".format(k,v))

Vemos que los elementos no van "ordenados":
1 --> Casillas
6 --> Iniesta
3 --> Piqué
5 --> Puyol
7 --> Villa
8 --> Xavi Hernández
9 --> Torres
11 --> Capdevila
14 --> Xavi Alonso
15 --> Ramos
16 --> Busquets

In [ ]:
futbolistas.items(),futbolistas.keys(),futbolistas.values()

(dict_items([(1, 'Casillas'), (6, 'Iniesta'), (3, 'Piqué'), (5, 'Puyol'), (7, 'Villa'), (8, 'Xavi Hernández'), (9, 'Torres'), (11, 'Capdevila'), (14, 'Xavi Alonso'), (15, 'Ramos'), (16, 'Busquets')]),
 dict_keys([1, 6, 3, 5, 7, 8, 9, 11, 14, 15, 16]),
 dict_values(['Casillas', 'Iniesta', 'Piqué', 'Puyol', 'Villa', 'Xavi Hernández', 'Torres', 'Capdevila', 'Xavi Alonso', 'Ramos', 'Busquets']))

In [ ]:
# Nº de elementos que tiene un diccionario
numElemen = len(futbolistas)
print ("\nEl número de futbolistas es de {}".format(numElemen))

# Imprimir las claves que tiene un diccionario
keys = futbolistas.keys();
print ("\nLas claves de nuestro diccionario son : {}".format(keys))

# Imprimir los valores que tiene un diccionario
values = futbolistas.values();
print ("\nLos valores de nuestro diccionario son : {}".format(values))

El número de futbolistas es de 11

Las claves de nuestro diccionario son : dict_keys([1, 6, 3, 5, 7, 8, 9, 11, 14, 15, 16])

Los valores de nuestro diccionario son : dict_values(['Casillas', 'Iniesta', 'Piqué', 'Puyol', 'Villa', 'Xavi Hernández', 'Torres', 'Capdevila', 'Xavi Alonso', 'Ramos', 'Busquets'])

In [ ]:
# Obtener el valor de un elemento dada su clave
elem = futbolistas.get(6)
print ("\nEl futbolista con clave 6 es {}".format(elem))

# Insertamos un elemento en el diccionario
## si la clave ya existe, el elemento NO se inserta
futbolistas.setdefault(10, 'Cesc')
print ("\nInsertamos el elemento con clave 10 y valor Cesc")
print ("Ahora el diccionario queda : {}".format(futbolistas))

# Añadimos, de otro modo, un elemento al diccionario
## si la clave ya existe, el valor se cambia por este nuevo
futbolistas[22] = 'Navas'
print ("\nAñadimos un nuevo elemento, ahora el diccionario queda: ")
print (futbolistas)

El futbolista con clave 6 es Iniesta

Insertamos el elemento con clave 10 y valor Cesc
Ahora el diccionario queda : {1: 'Casillas', 6: 'Iniesta', 3: 'Piqué', 5: 'Puyol', 7: 'Villa', 8: 'Xavi Hernández', 9: 'Torres', 11: 'Capdevila', 14: 'Xavi Alonso', 15: 'Ramos', 16: 'Busquets', 10: 'Cesc'}

Añadimos un nuevo elemento, ahora el diccionario queda:
{1: 'Casillas', 6: 'Iniesta', 3: 'Piqué', 5: 'Puyol', 7: 'Villa', 8: 'Xavi Hernández', 9: 'Torres', 11: 'Capdevila', 14: 'Xavi Alonso', 15: 'Ramos', 16: 'Busquets', 10: 'Cesc', 22: 'Navas'}

In [ ]:
# Eliminamos un elemento del diccionario dada su clave
futbolistas.pop(22)
print ("\nEliminamos el elemento con clave 22")
print ("Ahora el diccionario queda: {}".format(futbolistas))

# Hacemos una copia del diccionario
futbolistas_copia = futbolistas.copy()
print ("\nLa copia del diccionario tiene los valores:")
print (futbolistas_copia)

# Borramos los elementos de un diccionario
futbolistas_copia.clear()
print ("\nVaciamos el diccionario nuevo creado, ahora los valores en el: {}".format(futbolistas_copia))

Eliminamos el elemento con clave 22
Ahora el diccionario queda: {1: 'Casillas', 6: 'Iniesta', 3: 'Piqué', 5: 'Puyol', 7: 'Villa', 8: 'Xavi Hernández', 9: 'Torres', 11: 'Capdevila', 14: 'Xavi Alonso', 15: 'Ramos', 16: 'Busquets', 10: 'Cesc'}

La copia del diccionario tiene los valores:
{1: 'Casillas', 6: 'Iniesta', 3: 'Piqué', 5: 'Puyol', 7: 'Villa', 8: 'Xavi Hernández', 9: 'Torres', 11: 'Capdevila', 14: 'Xavi Alonso', 15: 'Ramos', 16: 'Busquets', 10: 'Cesc'}

Vaciamos el diccionario nuevo creado, ahora los valores en el: {}

In [ ]:
# Comprobamos si existe o no una clave en un diccionario
if 2 in futbolistas:
    print ("\nEl futbolista con la clave 2 existe en el diccionario.")
else:
    print ("\nEl futbolista con la clave 2 NO existe en el diccionario.")

if 8 in futbolistas:
    print ("\nEl futbolista con la clave 8 existe en el diccionario.")
else:
    print ("\nEl futbolista con la clave 8 NO existe en el diccionario.")

El futbolista con la clave 2 NO existe en el diccionario.

El futbolista con la clave 8 existe en el diccionario.

In [ ]:
# Creamos un diccionario a partir de una lista de claves
keys = ['nombre', 'apellidos', 'edad']
datos_usuario = dict.fromkeys(keys, 'null')
print ("\nCreamos un diccionario a partir de la lista de claves:")
print (keys)
print ("y con valor 'null'")
print ("Así el diccionario queda: {}".format(datos_usuario))

# Creación de un diccionario
diccionario=dict({1:'rei',2:'pepe',3:'javier'})
print(diccionario)

Creamos un diccionario a partir de la lista de claves:
['nombre', 'apellidos', 'edad']
y con valor 'null'
Así el diccionario queda: {'nombre': 'null', 'apellidos': 'null', 'edad': 'null'}
{1: 'rei', 2: 'pepe', 3: 'javier'}

In [ ]:
# Devolvemos los elementos del diccionario en una tupla
tupla = futbolistas.items()
print ("\nEl diccionario convertido en tupla queda así:")
print (tupla)

# Unimos dos diccionarios existentes
suplentes = {
    4:'Marchena', 12:'Valdes', 13:'Mata',
    17:'Arbeloa', 19:'Llorente', 20:'Javi Martinez',
    21:'Silva', 23:'Reina'
}

print ("\nUnimos el diccionario: ")
print (futbolistas)
futbolistas.update(suplentes) # Aquí hacemos la unión de los diccionarios
print ("con el diccionario:")
print (suplentes)
print ("siendo el resultado:")
print (futbolistas)

El diccionario convertido en tupla queda así:
dict_items([(1, 'Casillas'), (6, 'Iniesta'), (3, 'Piqué'), (5, 'Puyol'), (7, 'Villa'), (8, 'Xavi Hernández'), (9, 'Torres'), (11, 'Capdevila'), (14, 'Xavi Alonso'), (15, 'Ramos'), (16, 'Busquets'), (10, 'Cesc')])

Unimos el diccionario:
{1: 'Casillas', 6: 'Iniesta', 3: 'Piqué', 5: 'Puyol', 7: 'Villa', 8: 'Xavi Hernández', 9: 'Torres', 11: 'Capdevila', 14: 'Xavi Alonso', 15: 'Ramos', 16: 'Busquets', 10: 'Cesc'}
con el diccionario:
{4: 'Marchena', 12: 'Valdes', 13: 'Mata', 17: 'Arbeloa', 19: 'Llorente', 20: 'Javi Martinez', 21: 'Silva', 23: 'Reina'}
siendo el resultado:
{1: 'Casillas', 6: 'Iniesta', 3: 'Piqué', 5: 'Puyol', 7: 'Villa', 8: 'Xavi Hernández', 9: 'Torres', 11: 'Capdevila', 14: 'Xavi Alonso', 15: 'Ramos', 16: 'Busquets', 10: 'Cesc', 4: 'Marchena', 12: 'Valdes', 13: 'Mata', 17: 'Arbeloa', 19: 'Llorente', 20: 'Javi Martinez', 21: 'Silva', 23: 'Reina'}

# Entrada y salida de datos

In [ ]:
#Entrada de datos
x=input('ingrese el dato 1: ');
y=input('ingrese el dato 2: ');
print('tipo de datos',type(x),type(y))
print('suma de datos sin casteo',x+y)
print('suma de datos con casteo',float(x)+float(y))

ingrese el dato 1: 3
ingrese el dato 2: 5
tipo de datos <class 'str'> <class 'str'>
suma de datos sin casteo 35
suma de datos con casteo 8.0

# Operadores relacionales

![image.png]()

In [ ]:
a = 5
b = 5
a1 = 7
b1 = 3
c1 = 3

cadena1 = 'Hola'
cadena2 = 'Adios'



# igual
c = a == b
print (c)

cadenas = cadena1 == cadena2
print (cadenas)

# diferente
d = a1 != b
print (d)

cadena0 = cadena1 != cadena2
print (cadena0)

# mayor que
e = a1 > b1
print (e)

# menor que
f = b1 < a1
print (f)

# mayor o igual que
g = b1 >= c1
print (g)

# menor o igual que
h = b1 <= c1
print (h)

True
False
True
True
True
True
True
True

In [ ]:
5==5

True

In [ ]:
7!=9

True

In [ ]:
cadena1 = 'Hola'

In [ ]:
cadena1

'Hola'

# Operadores lógicos

Operador AND (`and`)

<img src="https://aristoteles2pc.files.wordpress.com/2011/03/tabla-de-verdad.png?w=225&h=300" height=225>

In [ ]:
# 0 = False, 1 = True
print(False and False)
print(False and True)
print(True and False)
print(True and True)

False
False
False
True

Operador OR (`or`)

<img src="https://aristoteles2pc.files.wordpress.com/2011/03/or1.png?w=228&h=300" height=225>

In [ ]:
print(False or False)
print(False or True)
print(False or True)
print(True or True)

False
True
True
True

Operador Negación o NOT (`not`)

<img src="https://aristoteles2pc.files.wordpress.com/2011/03/not1.png" height=180>

In [ ]:
print(not False)
print(not True)

True
False

Operador XOR (`^`)

<img src="https://i.stack.imgur.com/Q7U6I.png" height=150>

In [ ]:
print(False ^ False)
print(False ^ True)
print(True ^ False)
print(True ^ True)

False
True
True
False

<a name='2'></a>
## Operadores Aritméticos

<table>
<thead>
<tr>
<th style="text-align:center">Operador</th>
<th style="text-align:center">Descripción</th>
<th style="text-align:center">Uso</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">+</td>
<td style="text-align:center">Realiza Adición entre los operandos</td>
<td style="text-align:center">12 + 3 = 15</td>
</tr>
<tr>
<td style="text-align:center">-</td>
<td style="text-align:center">Realiza Substracción entre los operandos</td>
<td style="text-align:center">12 - 3 = 9</td>
</tr>
<tr>
<td style="text-align:center">*</td>
<td style="text-align:center">Realiza Multiplicación entre los operandos</td>
<td style="text-align:center">12 * 3 = 36</td>
</tr>
<tr>
<td style="text-align:center">/</td>
<td style="text-align:center">Realiza División entre los operandos</td>
<td style="text-align:center">12 / 3 = 4</td>
</tr>
<tr>
<td style="text-align:center">%</td>
<td style="text-align:center">Realiza un módulo entre los operandos</td>
<td style="text-align:center">16 % 3 = 1</td>
</tr>
<tr>
<td style="text-align:center">**</td>
<td style="text-align:center">Realiza la potencia de los operandos</td>
<td style="text-align:center">12 ** 3 = 1728</td>
</tr>
<tr>
<td style="text-align:center">//</td>
<td style="text-align:center">Realiza la división con resultado de número entero</td>
<td style="text-align:center">18 // 5 = 3</td>
</tr>
</tbody>
</table>

In [ ]:
a = 2
b = 6

In [ ]:
# Tipo de dato 'a'
print(type(a))

# Tipo de dato 'b'
print(type(b))

<class 'int'>
<class 'int'>

In [ ]:
print(a + b)
print(a - b)
print(a * b)
print(b ** 2)
print(a / b)
print(a // b)
print(a % b)

8
-4
12
36
0.3333333333333333
0
2

In [ ]:
c = a//b
print(c)

# Tipo de variable 'c'
print(type(c))

0
<class 'int'>

In [ ]:
a = 6
b = 2
c = 2.

In [ ]:
# Tipo de variable 'a'
print(type(a))

# Tipo de variable 'b'
print(type(b))

# Tipo de variable 'c'
print(type(c))

<class 'int'>
<class 'int'>
<class 'float'>

In [ ]:
operacion_a = a/b

operacion_b = a/c

print(operacion_a)
# Tipo de dato 'operacion_a'
print(type(operacion_a))

print(operacion_b)
# Tipo de dato 'operacion_b'
print(type(operacion_b))

3.0
<class 'float'>
3.0
<class 'float'>

In [ ]:
operacion_A = a//b

operacion_B = a//c

print(operacion_A)
# Tipo de dato 'operacion_A'
print(type(operacion_A))

print(operacion_B)
# Tipo de dato 'operacion_B'
print(type(operacion_B))

3
<class 'int'>
3.0
<class 'float'>

<a name='3'></a>
## Operadores Relacionales

![image.png]()

In [ ]:
num_1 = 2
num_2 = 5
num_3 = 2.0001
num_4 = 2
letra_E = 'E'
letra_e = 'e'

In [ ]:
# Tipo de dato 'num_1'
print(type(num_1))

# Tipo de dato 'num_2'
print(type(num_2))

# Tipo de dato 'num_3'
print(type(num_3))

# Tipo de dato 'num_4'
print(type(num_4))

# Tipo de dato 'letra_E'
print(type(letra_E))

# Tipo de dato 'letra_e'
print(type(letra_e))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'str'>

In [ ]:
# 2 es mayor que 5?
print(num_1 > num_2)

False

In [ ]:
# 2 es menor que 5?
print(num_1 < num_2)

True

In [ ]:
# 2 es mayor o igual que 5?
print(num_1 >= num_2)

False

In [ ]:
# 2 es menor o igual que 5?
print(num_1 <= num_2)

# 2 es menor o igual que 2?
print(num_1 <= num_4)

True
True

In [ ]:
# 2 es igual a 2.0001?
print(num_1 == num_3)

False

In [ ]:
# 2 es diferente a 2.0001?
print(num_1 != num_3)

True

In [ ]:
# la letra 'E' es diferente a la letra 'e'?
print(letra_E != letra_e);

True

<a name='4'></a>
## Operadores de Asignación

<table>
<thead>
<tr>
<th style="text-align:center">Operador</th>
<th style="text-align:center">Descripción</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">=</td>
<td style="text-align:center">a = 5. El valor 5 es asignado a la variable a</td>
</tr>
<tr>
<td style="text-align:center">+=</td>
<td style="text-align:center">a += 5 es equivalente a a = a + 5</td>
</tr>
<tr>
<td style="text-align:center">-=</td>
<td style="text-align:center">a -= 5 es equivalente a a = a - 5</td>
</tr>
<tr>
<td style="text-align:center">*=</td>
<td style="text-align:center">a *= 3 es equivalente a a = a * 3</td>
</tr>
<tr>
<td style="text-align:center">/=</td>
<td style="text-align:center">a /= 3 es equivalente a a = a / 3</td>
</tr>
<tr>
<td style="text-align:center">%=</td>
<td style="text-align:center">a %= 3 es equivalente a a = a % 3</td>
</tr>
<tr>
<td style="text-align:center">**=</td>
<td style="text-align:center">a **= 3 es equivalente a a = a ** 3</td>
</tr>
<tr>
<td style="text-align:center">//=</td>
<td style="text-align:center">a //= 3 es equivalente a a = a // 3</td>
</tr>
</tbody>
</table>

In [ ]:
var3 = 2
var3 += 3
print(var3)

var3 = 2
var3 -= 10
print(var3)

var3 = 2
var3 *= 2
print(var3)

var3 = 2
var3 **= 4
print(var3)

var3 = 2
var3 /= 2
print(var3)

var3 = 2
var3 //= 1.5
print(var3)

var3 = 2
var3 %= 1
print(var3)

5
-8
4
16
1.0
1.0
0

<a name='5'></a>
## Jerarquia de Operadores

| Jerarquia |
|-------------------|
| Paréntesis `( )` |
| Exponente `**`|
| División (`/`) y Módulo (`%`) |
| Multiplicación (`*`) |
| Suma (`+`) y Resta (`-`) |
| Operadores Relacionales (`>`, `<`, `>=`, `<=`, `==`, `!=`) |
| Negación (`not`) |
| Conjunción (`and`) |
| Disyunción inclusiva (`or`) |
| Operadores de Asignación |

*Para más información sobre prioridad de operadores en Python visite este [enlace](https://interactivechaos.com/es/manual/tutorial-de-python/precedencia-de-operadores)*

In [ ]:
print( 5 ** (2 * 3) + 3 )

15628

In [ ]:
print( 5 % 2 * 3 + 3 )

6

In [ ]:
print( 5 % (2 * 3) + 3 )

8

In [ ]:
a = -5
b = 3
c = 2

print( a / b * a / c > b - a * c )

False

In [ ]:
a = 10
b = 7
c = -1

print( a %  b + c * a > 3 or c * c < 5 )

True

<a name='6'></a>
## Ejercicio

Realice una impresión de una factura que muestre:
* El precio individual de una hamburguesa (5 dolares)
* El precio invididual de una gaseosa (2 dolares)
* El precio del menú con hamburguesa, gaseosa y papas cuyo costo es de 10 dolares
* El precio total sin IVA
* El precio total con IVA del 8%

# Estructuras condicionadas

Es una estructura que controla el flujo del programa.


Se utiliza if para especificar un bloque de código a ejecutar, si una condición especificada es verdadera.

<img src='https://aprendeconalf.es/manual-r/img/04-estructuras-control/condicional-simple.png' width=500>

In [ ]:
if 5>2:
  print('si')
  print('si2')

si
si2
PorFuera2

In [ ]:
a=2
b=5
if (b > a):
  print("b is greater than a")

<img src="https://aprendeconalf.es/manual-r/img/04-estructuras-control/condicional-multiple.png" width=500/>

Se utiliza else para especificar un bloque de código a ejecutar, si la misma condición es falsa.

In [ ]:
a=2
b=5
if (b > a):
  print("b is greater than a")
else:
  print("b is not greater than a")

Se utiliza elif para especificar una nueva condición a probar, si la primera condición es falsa.

In [ ]:
if 5>2:
  print('si')
  print('si2')
elif 1>3:
  print('sino si')
else:
    print('no')
    print('PorFuera')
print('PorFuera2')

si
si2
PorFuera2

## Ejercicios

1. Realice un programa que pida la edad de una persona en años. Si la edad es mayor o igual a 18, el programa debe imprimir la cadena: ‘ADULTO’. Si la edad es menor a 18 se debe imprimir: ‘MENOR DE EDAD’.

2. Diseñe un algoritmo que determine si ún número es o no es, par positivo.

3. Diseñe un algoritmo que lea un número de tres cifras y determine si es igual al revés del número.

In [ ]:
# Escribe aquí tu código

## Más ejemplos de estructuras condicionales

Realizar un programa que me diga si una persona es mayor de edad e imprima el mensaje `"Mientras usted viva en esta casa se hará lo que yo diga"`, en caso de que viva en la casa de sus padres y sea mayor de edad. Debe pedir la edad del usuario y preguntar si vive o no en la casa de sus padres.

*Implementación de `if` anidados. Los `if` anidados son estructuras que establecen condiciones consecutivas donde se encandenan, esto tiene diferentes aplicaciones desde hacer validaciones hasta generar filtros de condición.*

In [1]:
# Variable para leer la edad
print("Ingrese la edad:")
edad = int(input())

# Variable para leer si o no
print("Vive en casa (si/no):")
casa = input()

# Acción con if anidados
if edad > 0:
    if edad >= 18:
        print("Es mayor de edad")
        if casa == "si":
            print("Mientras usted viva en esta casa se hará lo que yo diga")
        else:
            print("Puede hacer lo que le dé la gana en su casa")
    else:
        print("Usted es un bebé")
else:
    print("Aprenda a escribir edades")

Ingrese la edad:
12
Vive en casa (si/no):
no
Usted es un bebé

## Ejercicio

*`if` anidado incorporando `else`*

Realizar un programa donde se le pida a un usuario que ingrese la temperatura actual de forma que si la temperatura es mayor a $15°$ Celsius pase a la siguiente condición, donde se le pregunta si es mayor a $25°$ Celsius, en caso de ser así, imprimir el mensaje `"A la playa"`, de lo contrario imprimir `A la montaña!`.

In [2]:
# Variable para leer la temperatura
print("Ingrese el valor de la temperatura:")
temperatura = float(input())

if temperatura > 15:
    if temperatura > 25:
        # Si la temperatura es mayor que 25 ...
        print("¡A la playa!")
    else:
        print("¡A la montaña!")

Ingrese el valor de la temperatura:
60
¡A la playa!

## Ejercicio

Realizar un programa que pida por teclado 2 números enteros diferentes y compare e imprima el mayor de ellos.

In [3]:
# Se pueden definir n variables del mismo tipo en la misma linea:
num1, num2 = 0, 0

# Variable para leer enteros
print("Ingrese el primer numero: ")
num1 = int(input())
print("Ingrese el segundo numero: ")
num2 = int(input())

# Comparar numeros
if num1 > num2:
    print("El número mayor es:", num1)
else:
    print("El número mayor es:", num2)

Ingrese el primer numero:
3
Ingrese el segundo numero:
45
El número mayor es: 45

## Ejercicio

Realizar un programa que simule un inicio de sesión solicitando el nombre de usuario y contraseña. Mostrar un mensaje en pantalla si el inicio de sesión es correcto o incorrecto.

In [4]:
# Definiendo variables String en la misma línea:
nombre, clave = "", ""

# Variable para leer String
print("Ingrese Nombre de usuario: ")
nombre = input()
print("Ingrese Clave de usuario: ")
clave = input()

# Validar entradas
if nombre == "Juan" and clave == "123456":
    print("Bienvenido al Sistema")
else:
    print("Nombre de Usuario o Contraseña Incorrecto")

Ingrese Nombre de usuario:
juan
Ingrese Clave de usuario:
admin23
Nombre de Usuario o Contraseña Incorrecto

## Ejercicio

Una farmacia desea un programa para ingresar el valor de compra y calcular lo siguiente: si el pago se efectúa al `"contado"`, calcular un descuento del $5%$; pero si el pago es con `"tarjeta"` se incrementa un recargo del $3%$ al valor de compra. Calcular y visualizar el descuento o recargo según sea el caso y el total a pagar de la compra.

In [5]:
# Definir variables double en una sola línea
valor, descuento, recargo, total = 0.0, 0.0, 0.0, 0.0

# Definir String
tipo_pago = ""

# Variable para leer String
print("Ingrese el valor de la compra: ")
valor = float(input())
print("Ingrese tipo de pago: ")
tipo_pago = input().lower()

# Descuento y recargo
descuento = 0.05 * valor
recargo = 0.03 * valor

if tipo_pago == "contado":
    print("El descuento es:", descuento)
    total = valor - descuento
    print("El total es:", total)
else:
    print("El recargo es:", recargo)
    total = valor + recargo
    print("El total es:", total)

Ingrese el valor de la compra:
234
Ingrese tipo de pago:
contado
El descuento es: 11.700000000000001
El total es: 222.3

## Ejercicio

*`elif` es una alternativa al uso de los `if` anidados y la estructura `else`, este se activa como una condición alternativa si el resultado es falso en la condición inicial, esta funciona como un `else` pero iterativo y consecutivamente se cierra con `else`.*

Realizar un programa que le pregunte al usuario la cantidad de satelites que tiene Jupiter y valide e imprima un mensaje si ha acertado o no.

In [6]:
# Variable para leer String
print("¿Cuantos satélites tiene Júpiter?")
C = int(input())

# Validar e imprimir mensaje
if C == 79:
    print("¡Felicidades, has acertado la pregunta! :)")
elif C != 79:
    print("Lo siento, pero no es la respuesta correcta :(")

¿Cuantos satélites tiene Júpiter?
2
Lo siento, pero no es la respuesta correcta :(

## Ejercicio

Realizar un programa que le pida al usuario un número del 1 al 7 y que imprima el día de la semana que corresponde a ese número.

In [7]:
# Realizar un programa que le pida al usuario un número del 1 al 7 y que imprima el día de la semana que corresponde a ese número.

# Variable para leer String
print("Ingrese un número del 1 al 7: ")
dia = int(input())

# Validar e imprimir mensaje
if dia == 1:
    print("El día es Lunes")
elif dia == 2:
    print("El día es Martes")
elif dia == 3:
    print("El día es Miércoles")
elif dia == 4:
    print("El día es Jueves")
elif dia == 5:
    print("El día es Viernes")
elif dia == 6:
    print("El día es Sábado")
elif dia == 7:
    print("El día es Domingo")
else:
    print("El número ingresado no es válido")

Ingrese un número del 1 al 7:
3
El día es Miércoles

## Ejercicio

Realizar un programa que ordene 3 números de mayor a menor. Lea los numeros por teclado.

In [8]:
# Definir variables (números enteros)
n1, n2, n3 = 0, 0, 0

# Leer variables
print("Ingrese el primer número: ")
n1 = int(input())
print("Ingrese el segundo número: ")
n2 = int(input())
print("Ingrese el tercer número: ")
n3 = int(input())

# Lógica
if (n1 > n2) and (n2 > n3):
    print("El orden es:", n1, ",", n2, ",", n3)
elif (n1 > n3) and (n3 > n2):
    print("El orden es:", n1, ",", n3, ",", n2)
elif (n2 > n1) and (n1 > n3):
    print("El orden es:", n2, ",", n1, ",", n3)
elif (n2 > n3) and (n3 > n1):
    print("El orden es:", n2, ",", n3, ",", n1)
elif (n3 > n2) and (n2 > n1):
    print("El orden es:", n3, ",", n2, ",", n1)
else:
    print("El orden es:", n3, ",", n1, ",", n2)

Ingrese el primer número:
2
Ingrese el segundo número:
1
Ingrese el tercer número:
12
El orden es: 12 , 2 , 1

## Ejercicio

Realice un programa que pida al usuario una temperatura.
- Si la temperatura es mayor a $25$, imprima `"A la playa!"`
- Si la temperatura es mayor a $15$ y menor a $25$, imprima `"A la montaña!"`
- Si la temperatura es menor a $5$, imprima `"A esquiar!"`

En caso contario, imprimir `"A descansar... zZz"`

In [9]:
# Variable para leer temperatura
print("Ingrese la temperatura:")
temperatura = float(input())

# Lógica
if temperatura > 25:
    # Si la temperatura es mayor que 25 ...
    print("A la playa!")
elif temperatura > 15:
    # Si es mayor que 15 y no es mayor que 25 ...
    print("A la montaña!")
elif temperatura < 5:
    # Si es menor que 5 y está nevando y no es mayor que 15 ni mayor que 25 ...
    print("A esquiar!")
else:
    # Si la temperatura no cumple ninguna de las condiciones anteriores ...
    print("A descansar... zZz")

Ingrese la temperatura:
22
A la montaña!

## Ejercicio

Realice un programa que al introducir el Coeficiente Intelectual (IQ, por sus siglas en inglés) del usuario lo clasifique en Bajo, Medio, Normal o Alto.

In [10]:
# Variable para leer IQ
print("Introduce el Coeficiente Intelectual: ")
iq = int(input())

# Lógica
if iq <= 79:
    print("IQ Bajo")
elif 79 < iq <= 89:
    print("IQ Medio")
elif 90 <= iq < 110:
    print("IQ Normal")
elif iq >= 110:
    print("IQ Alto")

Introduce el Coeficiente Intelectual:
49
IQ Bajo

## Ejercicio

Realizar un programa que cuente los días que faltan para el fin de semana. Tenga en cuenta que:

    Domingo = 1 (Fin de Semana)
    Lunes = 2
    Martes = 3
    Miercoles = 4
    Jueves = 5
    Viernes = 6
    Sabado = 7 (Fin de Semana)

In [11]:
# Variable para leer día de la semana
print("Ingrese el día de la semana:")
dia = int(input())

# Variable para contar los días que faltan
diasHastaFinSemana = 0

# Lógica
if 1 < dia < 7:
    if dia < 6:
        diasHastaFinSemana += 1
        if dia < 5:
            diasHastaFinSemana += 1
            if dia < 4:
                diasHastaFinSemana += 1
                if dia < 3:
                    diasHastaFinSemana += 1
    print("Días restantes hasta el fin de semana:", diasHastaFinSemana)
elif dia == 1 or dia == 7:
    print("Fin de semana")
else:
    print("La semana solo tiene 7 días")

Ingrese el día de la semana:
4
Días restantes hasta el fin de semana: 2

## Ejercicio

Realizar un programa que pida al usuario un tipo de vehiculo (Carro, Camion, Moto) y que imprima a que hora del dia puede circular dependiendo del tipo ingresado. Si el usuario ingresa un tipo de vehiculo distinto debe mostrar un mensaje indicando el error.

In [12]:
# Variable para leer el tipo de vehículo
print("En qué vehículo se desplaza (Carro/Camion/Moto):")
tipoVehiculo = input()

# Lógica utilizando solo condicionales
if tipoVehiculo == "Carro":
    print("Puedes pasar de 00:00 a 08:00")
elif tipoVehiculo == "Camion":
    print("Puedes pasar de 08:00 a 16:00")
elif tipoVehiculo == "Moto":
    print("Puedes pasar de 16:00 a 24:00")
else:
    print("No se puede pasar con un " + tipoVehiculo)

En qué vehículo se desplaza (Carro/Camion/Moto):
Carro
Puedes pasar de 00:00 a 08:00

## Ejercicio

Realizar un programa que simule el juego 'Piedra, Papel o Tijera'. El usuario debe ingresar Piedra, Papel o Tijera, y competirá con la computadora.

El usuario debe ingresar un numero entero (1 = Piedra, 2 = Papel, 3 = Tijera) e imprimir uno de los tres posibles resultados (ganar, perder o empatar).

In [13]:
import random

print("----------- Piedra, Papel o Tijera -----------")

seleccionCompu = random.randint(1, 3)  # Variable de tipo entero (1, 2 o 3) al azar
print("La computadora ya escogió...")

# Leer opción del usuario
print("Ingrese su opción [1=Piedra, 2=Papel, 3=Tijera]: ")
seleccionUsuario = int(input())

# Lógica
print("La computadora había escogido:")
if seleccionCompu == 1:
    print("Piedra")
    if seleccionUsuario == 1:
        print("Empate!")
    elif seleccionUsuario == 2:
        print("Usted gana!")
    elif seleccionUsuario == 3:
        print("La computadora gana!")
    else:
        print("Su opción no es válida, vuelva a intentarlo")
elif seleccionCompu == 2:
    print("Papel")
    if seleccionUsuario == 1:
        print("La computadora gana!")
    elif seleccionUsuario == 2:
        print("Empate!")
    elif seleccionUsuario == 3:
        print("Usted gana!")
    else:
        print("Su opción no es válida, vuelva a intentarlo")
elif seleccionCompu == 3:
    print("Tijera")
    if seleccionUsuario == 1:
        print("Usted gana!")
    elif seleccionUsuario == 2:
        print("La computadora gana!")
    elif seleccionUsuario == 3:
        print("Empate!")
    else:
        print("Su opción no es válida, vuelva a intentarlo")

----------- Piedra, Papel o Tijera -----------
La computadora ya escogió...
Ingrese su opción [1=Piedra, 2=Papel, 3=Tijera]:
2
La computadora había escogido:
Tijera
La computadora gana!

## Ejercicio

Hacer un programa que simule un cajero automático con un saldo inicial de $1000$ dólares, con el siguiente menú de opciones:

    1. Ingresar dinero a la cuenta.
    2. Retirar dinero de la cuenta.
    3. Salir.

Para cada opción debe imprimir un mensaje. Si el saldo a retirar es mayor al que tiene en la cuenta tambien debe indicarlo en pantalla.

In [14]:
# Definir variables
saldo_inicial = 1000
opcion = 0
ingreso = 0.0
saldoActual = 0.0
retiro = 0.0

# Mostrar menú
print("1. Ingresar dinero a la cuenta")
print("2. Retirar dinero de la cuenta.")
print("3. Salir.")

# Variable de tipo input para leer otras variables
opcion = int(input("Ingresar la opción: "))

# Lógica
if opcion == 1:
    ingreso = float(input("Ingrese la cantidad que desea ingresar en la cuenta: "))
    saldoActual = saldo_inicial + ingreso
    print("El saldo actual es:", saldoActual)
elif opcion == 2:
    retiro = float(input("Ingrese la cantidad que desea retirar: "))
    if retiro <= saldo_inicial:
        saldoActual = saldo_inicial - retiro
        print("Dinero en la cuenta:", saldoActual)
    else:
        print("No cuenta con el saldo suficiente")
elif opcion == 3:
    print("Hasta luego...")
else:
    print("Opción no válida, intente de nuevo.")

1. Ingresar dinero a la cuenta
2. Retirar dinero de la cuenta.
3. Salir.
Ingresar la opción: 1
Ingrese la cantidad que desea ingresar en la cuenta: 457
El saldo actual es: 1457.0


## Hazlo tú mismo ✏️

#### Ejercicio 1:

Realizar un programa que determine si un estudiante ha aprobado o no un examen. Para aprobar el examen, el estudiante debe obtener una calificación de al menos $60$ en el examen escrito y una calificación de al menos $80$ en el examen oral. Además, si la calificación total del examen (promedio de las calificaciones) es superior o igual a $90$, el estudiante recibe una mención honorífica.

- **Nota:** Debe ingresar como minimo 4 estudiantes con su respectivas notas.



#### Ejercicio 2:

Tienes una tienda de ropa y deseas calcular el precio final de una compra de un cliente. La tienda ofrece un descuento del $10\%$ en todas las compras que superen los $\$100$, y un descuento adicional del $5\%$ si el cliente tiene una tarjeta de membresía de la tienda. Además, la tienda cobra una tarifa de envío de $\$5$ para todas las compras que se envían por correo. Si el cliente gasta más de $\$200$, la tienda cubre el costo de envío.



#### Ejercicio 3:

Debes crear un programa de gestión de personal que almacena la información de los empleados en una base de datos. Cada empleado tiene un nombre, una edad, un salario y un cargo. La empresa tiene tres cargos diferentes: `"gerente"`, `"supervisor"` y `"empleado"`. El programa debe imprimir una carta para cada empleado, que depende de su cargo y su salario. Si el salario es mayor que $\$50000$, la carta debe ser de felicitación. Si el salario es menor o igual a $\$50000$, la carta debe ser de agradecimiento. La carta también debe mencionar el cargo del empleado.

- **Nota:** Debe ingresar como minimo 5 empleados con sus respectivos datos.